<%- include('templates/header.ejs') -%>
<style>
    * {
        box-sizing: border-box;
    }
    html,
    body {
      width: 100%;
      height: 100%;
      margin: 0;
      background-color: #615D51;
    }
    .shopping-cart {
      width: 750px;
      height: 423px;
      margin: 80px auto;
      background: #D1A93B;
    }
    .title {
      height: 60px;
      border-bottom: 1px solid #E1E8EE;
      padding: 20px 30px;
      color: #141413;
      font-size: 18px;
      font-weight: 400;
    }
    .item {
      padding: 20px 30px;
      height: 120px;
    }
    .item:nth-child(3) {
      border-top:  1px solid #E1E8EE;
      border-bottom:  1px solid #E1E8EE;
    }
    .buttons {
      position: relative;
      padding-top: 30px;
      margin-right: 60px;
    }
    .delete-btn,
    .like-btn {
      display: inline-block;
      Cursor: pointer;
    }
    .delete-btn {
      width: 18px;
      height: 17px;
    }
    .movie-name span:last-child {
      font-weight: 300;
      margin-top: 8px;
      color: #141413;
    }
    button[class*=btn] {
      width: 30px;
      height: 30px;
      background-color: #E1E8EE;
      cursor: pointer;
    }
    .total-price {
      width: 83px;
      padding-top: 27px;
      text-align: center;
      font-size: 16px;
      color: #43484D;
      font-weight: 300;
    }
</style>
<div class="shopping-cart">
  <!-- Title -->
  <div class="title">
    Shopping Cart
  </div>
  <!-- Product #1 -->
  <div class="item">
    <div class="buttons">
      <span class="delete-btn"></span>
    </div>
    <div class="image">
      <img src="item-1.png" alt="" />
    </div>
    <div class="movie-name">
      <span>MovieName</span>
    </div>
    <div class="confirm">
      <button class="confirm-btn" type="button" name="button">
        <img src="confirm.svg" alt="" />
      </button>
    </div>
    <div class="total-price">$5</div>
  </div>
  </div>
</div>

<%- include('templates/footer.ejs') -%>