<%- include('templates/header.ejs') -%>
          
        <!-- !PAGE CONTENT! -->
        <div class="w3-main w3-content w3-padding" style="max-width:1200px;margin-top:100px">
        
        
        <div class="movieCardHolder">
          <% if ( (typeof data != "undefined") && (data.Response != 'False' ) ) { %>
            <% console.log(data.Response) %>
            <% for ( var i = 0; i < data.Search.length; i ++ ) { %>
              <%- include('templates/movieCard.ejs', { movie : data.Search[i] } ) -%>
            <% }; %>
          <% } %>
        </div> 
        
        
          
        
          <!-- Pagination
          <div class="w3-center w3-padding-32">
            <div class="w3-bar">
              <a href="#" class="w3-bar-item w3-button w3-hover-black">«</a>
              <a href="#" class="w3-bar-item w3-black w3-button">1</a>
              <a href="#" class="w3-bar-item w3-button w3-hover-black">2</a>
              <a href="#" class="w3-bar-item w3-button w3-hover-black">3</a>
              <a href="#" class="w3-bar-item w3-button w3-hover-black">4</a>
              <a href="#" class="w3-bar-item w3-button w3-hover-black">»</a>
            </div>
          </div>
          -->
          
    
<%- include('templates/footer.ejs') -%>