/* basic styling for the error page */
.error {
    text-align: center;
    color: red;
    display: block;
    margin: auto;
}

/* puts the login form in the middle of the page */
.someonePlzMakeThisSexy{
    background-color: #e8f6fa;
    width: 400px;
    height: auto;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    display: block;
    margin: auto;
    margin-bottom: 300px;
    border-style: solid;
    border-radius: 10px;
    border-width: thin;
}

.movieCardHolder{
    display: flex;
    flex-wrap: wrap;
}
.movieCard{
    width: 25%;
    height: auto;
    margin-right: 20px;
    margin-bottom: 20px;
}