        <hr id="about">
        
          <!-- About Section -->
          <div class="w3-container w3-padding-32 w3-center">  
            <h3>About Group 8</h3><br>
            <img src="/w3images/chef.jpg" alt="Me" class="w3-image" style="display:block;margin:auto" width="800" height="533">
            <div class="w3-padding-32">
              <h4><b>We are Group 8!</b></h4>
             
              <p>Ed, Jose, Liam, and Sean</p>
            </div>
          </div>
          <hr>
          
          <!-- Footer -->
          <footer>
            <hr>
              CST 438 Software Engineering. 2020&copy; Group 8 <br />
            <strong>Disclaimer:</strong> Used for academic purposes.
            <br/>
                    
          </footer>
        
        <!-- End page content -->
        </div>
        
        <script>
        // Script to open and close sidebar
        function w3_open() {
          document.getElementById("mySidebar").style.display = "block";
        }
         
        function w3_close() {
          document.getElementById("mySidebar").style.display = "none";
        }
        </script>
</body>
</html>