<!DOCTYPE html>
<html>
    <head>
        <title>Video Store</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"/>
        <link rel="stylesheet" href="app.css"
    </head>
    <body>
        
</html>